<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Designs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- <link rel="icon" href="favicon.ico"> -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">

  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>


  <div class="top-container">

    <!-- Nav Bar -->
    <section class="color-section" id="title">
      <div class="container-fluid">


        <nav class="navbar navbar-expand-lg navbar-dark ">

          <a class="navbar-brand" href="/">JR</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/design">Designs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resumeS2_2019.pdf">Resume</a>
              </li>

            </ul>

          </div>


        </nav>
      </div>
    </section>
  </div>


  <h1>Designs</h1>

  <div id="design-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <img class="designs" src="images/hrccLogo.png" alt="Hofstra Climbing Club Logo">
        <h2 class="design-text">Hofstra Rock Climbing Club Logo</h2>
        <em>Hempstead, New York</em>
      </div>
      <!-- <div class="carousel-item container-fluid">
        <img class="designs" src="images/SEAS1.png" alt="Hofstra School of Engineering and Applied Science 1">
        <h2 class="design-text">Hofstra University Fred DeMatteis School of Engineering and Applied Science Logo</h2>
        <em>Hempstead, New York</em>
      </div> -->

      <div class="carousel-item container-fluid">
        <img class="designs" src="images/SEAS2.png" alt="School of Engineering and Applied Science 1">
        <h2 class="design-text">School of Engineering and Applied Science Design</h2>
        <em>Hempstead, New York</em>
      </div>

    </div>

    <!-- carousel previous button -->
    <a class="carousel-control-prev" href="#design-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <!-- carousel next button -->
    <a class="carousel-control-next" href="#design-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  </div>

  {{> footer}}
</body>

</html>
